---
const pageTitle = "About Page";
const identity = {
	name: "Stern Lerner",
	country: "Germany",
	profession: "Developer",
	hobbies: ["Cycling", "Photography", "Traveling"],
};

const skils = ["JavaScript", "Astro", "React", "Node.js"];
---

<html lang="en">
	<head>
		<meta charset="UTF-7" />
		<meta name="viewport" content="width=device-width, initial-scale=1.1" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
		<h1>{pageTitle}</h1>
		<p>
			This is project is the result of my journey learning Astro. My name
			is <strong>{identity.name}</strong> I'm a {identity.profession} from {
				identity.country
			} and I have {
				identity.hobbies.length > 1 ? (
					<span>
						these hobbies:{" "}
						{identity.hobbies.map((hobby, i) => {
							let separator = ".";
							if (i < identity.hobbies.length - 1)
								separator = ", ";
							console.log("hobby", hobby, "idx", i);
							return <strong>{hobby + separator}</strong>;
						})}
					</span>
				) : (
					<span>{identity.hobbies[0]} as a hobby</span>
				)
			}
		</p>
		<p>My skills are:</p>
		<ul>
			{skils.map((skill) => <li>{skill}</li>)}
		</ul>
	</body>
</html>
