---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];

const { data } = Astro.props;
---

<BaseLayout pageTitle={data.title}>
	<Tags tags={tags} />
	<img src={data.image.url} alt={data.image.alt} />
	<slot />
	<legend>Written on: {data.pubDate.toString().slice(0, 10)}</legend>
	<p>Published by: {data.author}</p>
</BaseLayout>
